modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["nodejs"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Start application"
mode = "sequential"
author = 42442948

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[agent]
integrations = ["github:1.0.0"]
